<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://address=(protocol=tcp)(host=localhost)(port=3306)/IG2I_POO
        </property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">dev</property>
        <property name="connection.password">dev-pass</property>
        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="entities.CategorieEntity"/>
        <mapping class="entities.CompetenceEntity"/>
        <mapping class="entities.CotisationsEntity"/>
        <mapping class="entities.MembreEntity"/>
        <mapping class="entities.ProfessionnelEntity"/>
        <mapping class="entities.HabitantEntity"/>
        <mapping class="entities.VacancierEntity"/>
        <mapping class="entities.PropositionEntity"/>
        <mapping class="entities.TalentEntity"/>
        <mapping class="entities.TarifEntity"/>
        <mapping class="entities.TransactionEntity"/>


        <mapping class="entities.CascadeRefEntity"/>
        <mapping class="entities.CascadeFkEntity"/>
    </session-factory>
</hibernate-configuration>